<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('base.css') }}" rel="stylesheet"/>


        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        </head>

        {% block head %}
                <a href={{path("contactCity",{city:"montpellier"})}}>City</a>
                <a href={{path("accueil")}}>Accueil</a>
                <a href={{path("shop")}}>shop</a>
                <a href={{path("blog")}}>Blog</a>
        {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
