<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('base.css') }}" rel="stylesheet"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        </head>

        {% block head %}
                <a href={{path("contactCity",{city:"montpellier"})}}>City</a>
                <a href={{path("accueil")}}>Accueil</a>
                <a href={{path("shop")}}>shop</a>
                <a href={{path("blog")}}>Blog</a>
        {% endblock %}
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
